#playwithmpv-button, #playwithmpv-mail-button {
	list-style-image: url('chrome://playwithmpv/content/mpv24.png');
}

toolbar[iconsize="small"] #playwithmpv-button, toolbar[iconsize="small"] #playwithmpv-mail-button {
	list-style-image: url('chrome://playwithmpv/content/mpv16.png');
}
